node_modules/
**/node_modules/

# Build outputs
**/dist/

# npm pack artifacts
**/*.tgz

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor
.DS_Store
.vscode/
.idea/

# Env
.env
.env.*
